*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font: size 50%;
}
main{
  padding-top: 7rem;
}
h1 {
  color: rgb(158, 80, 191);
  text-align: center;
  font-size: 6rem;
  font-weight:800;
  background-color: rgba(29, 255, 206, 0.562);
  font-style: oblique;
  font-family: "Cabin", sans-serif;
    }

  h1:hover{
    color:red; 
  }

h2,h3,h4,h5{
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
h2 {
  font-size:50%;
  text-transform:uppercase;
  text-decoration:underline;
  text-align:center;
  color:rgb(3, 26, 46);
    }

      /* o ponto antes é para fazer referencia a classe da tag */
.bg {
  height: 800PX;
  width: 100%;
  background-color:#899fa9 ;
  background-image:url('https://images.unsplash.com/photo-1648483424607-f8da5be54b72?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
       
    }
.novo-em h2 {
  font-size: 3.5em;

}
 p {
  text-indent: 90px; /* recuo da primeira linha */
  text-align: justify;
  font-size: 20px;

  }

a{
  font-size: 2.5rem; 
  color:greenyellow;
}
 a:visited { 
  color: red;
 }

a:hover {
  color:rgb(158, 80, 191);
}

table, td, th {
  border: 1px solid red;
}

table tr:first-child {
  background-color: rgb(235, 186, 50);
  color:#fff;
}

table tr:nth-child(2n + 3) {
  background-color: #aaa;
}

table {
  font-size: 2rem;
  text-align: center;
  border-collapse: separate;
}

ul {
  padding-left: 2.4rem;
  list-style:circle;
}
ol{
  padding-left: 3.4rem;
  list-style:upper-roman;
}

nav.menu{
  position: fixed;
  background-color: steelblue;
  width: 100%;
  height: 7rem;
  z-index: 1;
 }
 .contactlist h2{
  top:7rem;
  position:sticky;
  background-color: slateblue;

 }

.box {
  height: 8rem;
  width: 100rem;
  margin:1.5rem;
  padding:1.5rem;
  border: 5px solid yellow;
  display:inline-block;
  text-align:center;


}

.box2{
  margin: 1.5rem;
  border-radius: 0.8rem;
  border: 10px solid green;
  display: inline-block;
  

}
.caixas{ 
  position: relative;
  display:flex;
  flex-wrap: wrap;
}

.caixa{
  height: 10rem;
  width: 20rem;
  margin: 1.5rem;
  padding: 1.5rem;
  background-color: orangered;
  color:#fff;
  border: 10px solid purple;
  display: inline-block;
  border-radius: 0.4rem;
  position: static;
  flex: 20%
  /* position: absolute - não ocupa espaço em tela, fica por cima de tudo */
}/* precisa de coordenadas - top: numero em px, left : numero em px */

.caixa:nth-child(1){
  float: none;
}
.caixa + p {
  clear: both;
}
/* .caixa:nth-child(1)
{
  position: absolute;
  top: 30px;
  left: 110px;
} */

/* caixa:nth-child(n+1){
  position: fixed;
}
.caixa:nth-child(n+2){
 position:relative; 
} */