/* ESSA É DA AULA DE FLEX E FLEXBOX */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

main{
    /* padding: 7rem 0; */
}

.boxes {
    height: calc(100vh);
    position: relative;

    display: flex;
   flex-wrap:wrap;
    /* flex wrap - quando varios itens estão seguidos, ao mudar a pagina eles se adaptam usando o wrap. */
   flex-direction:row;
   /* consegue dar a direção e a ordem (reverse), a row ja é a padrão */ */
    /* flex-flow pode ser usando combinando a função da flex wrap e direction */
    justify-items: center;
    /* align-items: center; */
    align-content: center;
    justify-content: center; /* ta alinhando no eixo principal - justificou as caixas, o items não */
    gap: 0rem 5rem;

}

.box{
    min-width: 10rem;
    min-height: 10rem;
    padding: 1.5rem;
    border: 10px solid purple;
    border-radius: 0.4rem;
    background-color: rgb(98, 201, 201, 0.5);
    color: white;
    font-size: 4rem;
    order:10;
    flex:1;


    display: flex;
    /* text-align: center; */
    gap:0 5rem;
    justify-content: center;
    align-content: center;
    /* flex-basis: 80%; */
}

.box:nth-child(3){
    order:1;
    /* muda a ordem do item que você escolher, o padrão é 0 */
}

p, button{
    font-size: 4rem;
}